.snap .panel-default {
    border: none;
    box-shadow: none;
}

.snap .panel-default .panel-heading {
    background-color: #cc2130;
    color: white;
}

.snap .panel-title {
    font-weight: bolder;
}

.snap .form-horizontal .control-label {
    font-weight: 500;
}

.snap .form-control:focus {
    outline: none !important;
    border-color: #666666;
    box-shadow: 0 0 0 #7d7d7d;
}

.snap .panel-heading .glyphicon {
    font-size: 24px;
    padding-right: 6px;
}

.snap .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.snap .card {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px -5px;
    margin-bottom: 15px;
}

.snap .card.with-hover {
    transition: .2s linear all;
    box-shadow: rgba(0,0,0,0.3) 0 0 10px -5px;
}

.snap .card.with-hover:hover {
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px -5px;
}


.snap .card .show-on-hover {
    transition: .2s linear all;
    -webkit-transition: .2s linear all;
    opacity: 0;
    visibility: hidden;
}

.snap .card:hover .show-on-hover {
    opacity: 1;
    visibility: visible;
}

.snap .card .icon {
    font-size: xx-large;
}

.snap .card .card-content {
    padding: 20px 0;
}

.snap .card .card-content .label {
    font-size: 14px;
}

.snap .card .card-content p {
    color: #7d7d7d;
    margin: 0;
}

.snap .card .card-content p.muted {
    opacity: 0.5;
}

.snap .card .card-content p .highlight {
    color: #263f66;
    padding: 0 6px;
}

.snap .card .card-content h3 {
    margin: 0;
}

/* card statuses */

/*
            "waiting": "",
            "queued": "info",
            "running": "primary",
            "completed": "success",
            "error": "danger"
*/

.snap .card.status-waiting > div,
.snap .card.status-queued > div,
.snap .card.status-running > div,
.snap .card.status-error > div {
    background-color: rgba(255,255,255,.9);
    border-radius: 4px;
}


.snap .card.status-waiting {
    /* background-color: #7d7d7d; */
}

.snap .card.status-queued {
    background-color: #febe11;
}

.snap .card.status-running {
    background-color: #009f65;
}

.snap .card.status-error {
    background-color: #cc2130;
}


.snap .card.status-running .show-on-hover a{
    display: none;
}

/* end of card statuses */

.snap .form-horizontal .form-group.error-notification {
    margin-bottom: 0;
    position: relative;
    top: -10px;
    font-size: smaller;
}

.snap input.form-control.ng-dirty.ng-invalid {
    border: 1px solid #cc2130 !important;
    border-radius: 4px;
}
