.snap .panel-default {
    border: none;
    box-shadow: none;
}

.snap .panel-default .panel-heading {
    background-color: #cc2130;
    color: white;
}

.snap .panel-title {
    font-weight: bolder;
}

.snap .form-horizontal .control-label {
    font-weight: 500;
}

.snap .form-control:focus {
    outline: none !important;
    border-color: #666666;
    box-shadow: 0 0 0 #7d7d7d;
}

.snap .panel-heading .glyphicon {
    font-size: 24px;
    padding-right: 6px;
}

.snap .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.snap .card {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px -5px;
    margin-bottom: 15px;
}

.snap .card .icon {
    font-size: xx-large;
}

.snap .card .card-content {
    padding: 20px 0;
}

.snap .card .card-content .label {
    font-size: 14px;
}

.snap .card .card-content p {
    color: #7d7d7d;
    margin: 0;
}

.snap .card .card-content h3 {
    margin: 0;
}