/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
    min-height: 100%;
    height: 100%;
    background-color: transparent;
    background:  url("../img/transparent-black.png") repeat, url("../img/bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body > .container {
    padding: 100px 15px 60px;
    min-height: 100%;
}
.container.app{
    background: url("http://sungardk12.com/wp-content/themes/sungardk12/images/colorbar.jpg") center 67px repeat-x rgba(255, 255, 255, 0.85);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

.navbar {
    min-height: 80px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

.navbar-brand{
    width: 235px;
    height: 31px;
    background-position: 15px bottom;
    background-size: contain;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    padding: 0 15px;
    margin-top: 29px;
}

ul.nav-user {
    margin: 0;
}

ul.nav-main li a,
ul.nav-user li a{
    padding: 6px 10px;
}

ul.nav-main > li > a:hover,
ul.nav-main > li.active > a{
    color: #000;
    background-color: transparent !important;
}

ul.nav-main > li > a > span {
    display: inline-block;
    padding: 6px 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-size: 14px;
}

ul.nav-main > li:hover > a > span {
    border-bottom: 2px solid #1e1e1e;
}

ul.nav-main > li.active > a > span {
    border-bottom: 2px solid #a1a9ac;
}

.clear-right {
    clear: right;
}

.no-margin{
    margin: 0;
}

.full-width {
    width: 100%;
}

.spin{
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-animation: spin .45s infinite linear;
    -moz-animation: spin .45s infinite linear;
    -o-animation: spin .45s infinite linear;
    animation: spin .45s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer .container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.bg-white{
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
}

a.link-white{
    color:  rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

a:hover.link-white{
    color: rgba(255, 255, 255, 0.9);
}

.commands{
    width: 100px;
}

.command{
    width: 25px;
}

.commands .btn,
.command .btn {
    padding: 0 !important;
}

.dropdown-menu. li{
    cursor: pointer;
}

.row .table{
    margin-top: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.bs-callout .row.progress-row{
    padding-top: 10px;
    margin-bottom: -15px;
}

.bs-callout .progress-bar{
    width: 100%;
    height: 5px;
    border-bottom-right-radius: 5px;
}

.bs-callout .label {
    vertical-align: text-top;
}

.bs-callout .label .glyphicon {
    vertical-align: text-bottom;
}

.bs-callout:hover .task-control{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;
}

.bs-callout .task-control{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.task-control{
    margin: -10px 0;
}

.modal-header[class^='bg-'],
.modal-header[class*=' bg-']{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-footer.bg-*{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.timepicker table tbody tr.text-center{
    display: none;
}

.weekdayscontainer{
    width: 100%;
}

.backupPeriod{
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

th[st-sort]:hover,
ul.dropdown-menu a,
.pagination a
{
    cursor: pointer;
}

.spinner-container {
    font-size: large !important;
    padding: 20px !important;
}

.bs-callout.active h1 span.glyphicon{
    animation: infinite;
}

input.ng-invalid-email{
    border: 1px solid #A30000;
    box-shadow: 0 0 2px #A30000;
}

.st-selected {
    background-color: #d9edf7;
}

.well {
    margin-bottom: -5px;
}

td .glyphicon{
    cursor: pointer;
}

/* Callouts */

.bs-callout {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-left-width: 5px;
    border-radius: 5px;
}
.bs-callout:not(.active){
    background-color: rgba(255, 255, 255, 0.6);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* End of Callouts */



/* tag filter */

.tag-input {
    margin-bottom: 0.4em;
}

.tags,
.tags .tag {
    margin-right: 0.6em;
    margin-bottom: 0.4em;
    font-size: 18px;
    float: left;
}
.tags .tag[ng-click]:hover {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
.tags .tag .glyphicon-remove {
    font-size: 9px;
    margin-right: -1.8em;
    margin-top: -1em;
    opacity: 0;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid #CCCCCC;
    color: #FF0000;
}

.tags .tag:hover .glyphicon-remove {
    opacity: 1;
}

.tags .tag span {
    display: block;
    float: right;
}

.tag-value {
    font-size: 14px;
}
