/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.row-disabled {
    background-color: #EEE;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body {
    min-height: 100%;
    height: 100%;
    background-color: #f1f2f6;
}

body > .container {
    padding: 100px 15px 60px;
    min-height: 100%;
}
.container.app{

}

.navbar {
    min-height: 80px;
    margin-bottom: 0;
    border: 1px solid transparent;
}

ul.nav-user {
    margin: 0;
}

ul.nav-main li a,
ul.nav-user li{
    padding: 6px 10px;
}

ul.nav-main > li > a:hover,
ul.nav-main > li.active > a{
    color: #000;
    background-color: transparent !important;
}

ul.nav-main > li > a > span {
    display: inline-block;
    padding: 6px 0;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    font-size: 14px;
}

ul.nav-main > li:hover > a > span {
    border-bottom: 2px solid #1e1e1e;
}

ul.nav-main > li.active > a > span {
    border-bottom: 2px solid #a1a9ac;
}

.clear-right {
    clear: right;
}

.no-margin{
    margin: 0;
}

.full-width {
    width: 100%;
}

.spin{
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-animation: spin .45s infinite linear;
    -moz-animation: spin .45s infinite linear;
    -o-animation: spin .45s infinite linear;
    animation: spin .45s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.footer .container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}


a.link-white{
    color:  rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

a:hover.link-white{
    color: rgba(255, 255, 255, 0.9);
}

.commands{
    width: 100px;
}

.command{
    width: 25px;
}

.commands .btn,
.command .btn {
    padding: 0 !important;
}

.dropdown-menu. li{
    cursor: pointer;
}

.row .table{
    margin-top: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.bs-callout .row.progress-row{
    padding-top: 10px;
    margin-bottom: -15px;
}

.bs-callout .progress-bar{
    width: 100%;
    height: 5px;
    border-bottom-right-radius: 5px;
}

.bs-callout .label {
    vertical-align: text-top;
}

.bs-callout .label .glyphicon {
    vertical-align: text-bottom;
}

.bs-callout:hover .task-control{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s, visibility 0.2s;
}

.bs-callout .task-control{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

.task-control{
    margin: -10px 0;
}

.modal-header[class^='bg-'],
.modal-header[class*=' bg-']{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-footer.bg-*{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.timepicker table tbody tr.text-center{
    display: none;
}

.weekdayscontainer{
    width: 100%;
}

.backupPeriod{
    font-weight: bold;
    margin: 10px 0 5px 0;
}

th[st-sort]:hover,
ul.dropdown-menu a,
.pagination a
{
    cursor: pointer;
}

.spinner-container {
    font-size: large !important;
    padding: 20px !important;
}

.bs-callout.active h1 span.glyphicon{
    animation: infinite;
}

input.ng-invalid-email{
    border: 1px solid #A30000;
    box-shadow: 0 0 2px #A30000;
}

.st-selected {
    background-color: #d9edf7;
}

.commands .glyphicon,
.command .glyphicon{
    cursor: pointer;
}

/* Callouts */

.bs-callout {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-left-width: 5px;
    border-radius: 5px;
}
.bs-callout:not(.active){
    background-color: rgba(255, 255, 255, 0.6);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* End of Callouts */



/* tag filter */

.tag-input {
    margin-bottom: 0.4em;
}

.tags .tag {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    font-size: 14px;
    float: left;
}
.tags .tag[ng-click]:hover {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
.tags .tag .glyphicon-remove {
    font-size: 9px;
    margin-right: -1.8em;
    margin-top: -1em;
    opacity: 0;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid #CCCCCC;
    color: #FF0000;
}

.tags .tag:hover .glyphicon-remove {
    opacity: 1;
}

.tags .tag span {
    display: block;
    float: right;
}

.tag-value {
    font-size: 14px;
}


.volumes-table-header {
    position: fixed;
    top: 70px;
    z-index: 9999;
    width: 100%;
}


table.bg-white {
    border-collapse: separate !important;
    border-spacing: 0px 5px !important;
}

table.bg-white tbody tr{
    background-color: rgba(255, 255, 255, 0.85);
    border-collapse: separate;
}


table.bg-white tbody tr:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

table.bg-white tbody tr td:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.bg-white tbody tr td:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.table.bg-white > thead > tr > th,
.table.bg-white > tbody > tr > th,
.table.bg-white > tfoot > tr > th,
.table.bg-white > thead > tr > td,
.table.bg-white > tbody > tr > td,
.table.bg-white > tfoot > tr > td {
    border-top: none;
}

.table.bg-white > thead > tr > th {
    border-bottom: none;
}

/* flex */
.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.flex-1 {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}
.flex-2 {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.flex-3 {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
}
.flex-4 {
    -webkit-flex: 4 0 0;
    flex: 4 0 0;
}

.flex-5 {
    -webkit-flex: 5 0 0;
    flex: 5 0 0;
}
.flex-10 {
    -webkit-flex: 10 0 0;
    flex: 10 0 0;
}
.flex-100 {
    -webkit-flex: 100 0 0;
    flex: 100 0 0;
}

/* end of flex */



div.data-container {

}

div.data-container > div {
    min-height: 80px;
    padding: 6px;
}




div.tr {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px -5px;
}

div.tr:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 7px 10px -5px;
}

div.tr.state-in-use {
    border-left: 3px solid #009f65;
}

div.tr.state-available {
    border-left: 3px solid #263f66;
}


div.page-table div.thead {
    position: fixed;
    top: 92px;
    height: 35px;
}

div.table-header-placeholder {
    height: 35px;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.2) 0 7px 10px;
}

div.thead {
    font-weight: bold;
    z-index: 9999;
}

div.thead div.th {
    padding: 6px;
    background-color: #f1f2f6;
}

div.thead div.th:hover {
    background-color: #dbdbdb;
}

div.thead div.th,
div.thead div.th:hover,
div.thead div.th a,
div.thead div.th a:hover {
    color: #263f66;
    text-decoration: none;
}

div.thead div.th span,
div.thead div.th a {
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}

.st-sort-ascent:after{
    content: '\00A0\2227';
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    height: 24px;
}

.st-sort-descent:after{
    content: '\00A0\2228';
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    height: 24px;
}


/* HEADER */
.navbar {
    background-color: white;
}

/* header-top */

.header-top {
    background-color: #666666;
}

.header-top .navbar-brand {
    height: 40px;
    background: url("../img/logo-sungard.svg") no-repeat;
    background-size: 30px 30px;
    background-position: left center;
    color: white;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    padding: 10px 15px 0 35px;
    margin-top: 5px;
}

.header-top .navbar-brand:hover {
    color:white;
}

.header-top .navbar-brand span.separator {
    color: #cc2130;
    padding: 0 1px;
}

.header-top .navbar-brand span.separator:after {
    content: '|';
}


.header-top .nav {
    padding: 10px 0 5px 0;
}

.header-top .nav > li > a {
    padding: 3px 15px;
    font-weight: 400;
    color: white;
}

.header-top .nav > li > a:hover,
.header-top .nav > li > a:focus {
    background-color: #333333;
}

.header-top .nav-pills > li.active > a,
.header-top .nav-pills > li.active > a:hover,
.header-top .nav-pills > li.active > a:focus {
    background-color: #009f65;
}
    /* end of header-top */


/* header-page */

.header-page,
.header-page a {
    color: #263f66;
}

.header-page a:hover {
    color: #172e52;
    text-decoration: none;
}

.header-page .page-name .go-back a {
    font-size: 12px;
    font-weight: bold;
}

.header-page .page-name .current {
    font-size: 18px;
    font-weight: bold;
}


.header-page .sub-nav .user a {
    font-size: 12px;
    font-weight: bold;
}

.header-page .sub-nav {
    text-align: right;
}

.header-page .sub-nav .page-btns {
    font-size: 16px;
    font-weight: bold;
}

.header-page .sub-nav .page-btns span.separator {
    color: #666666;
    padding: 0 5px;
}

.header-page .sub-nav .page-btns span.separator:after {
    content: '|';
}



/* end of header-page */

/* end of HEADER */
