<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="filterProxy" class="com.sungardas.snapdirector.rest.filters.FilterProxy"/>
    <bean class="com.sungardas.snapdirector.service.impl.SharedDataServiceImpl"/>
</beans>