<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>snapdirector</display-name>
  <context-param>
    <param-name>rest:mock-directory</param-name>
    <param-value>./mockjson/</param-value>
  </context-param>
  <context-param>
    <param-name>tmp:sdfsbackup-properties</param-name>
    <param-value>./aws/sdfsbackup.properties</param-value>
  </context-param>
  <context-param>
    <param-name>aws:sqs-region</param-name>
    <param-value>us-east-1</param-value>
  </context-param>
  <context-param>
    <param-name>aws:sqs-queue-url</param-name>
    <param-value> 815082807540/sungard</param-value>
  </context-param>
  <context-param>
    <param-name>aws:dynamodb-region</param-name>
    <param-value>us-east-1</param-value>
  </context-param>
  <context-param>
    <param-name>aws:routine-inst-id</param-name>
    <param-value>i-e920a741</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:config-file</param-name>
    <param-value>./quartz/quartz.properties</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:shutdown-on-unload</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:start-scheduler-on-load</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>quartz:wait-on-shutdown</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <display-name>QuartzInitializerServlet</display-name>
    <servlet-name>QuartzInitializerServlet</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuartzInitializerServlet</servlet-name>
    <url-pattern>/QuartzInitializerServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletContainer</display-name>
    <servlet-name>ServletContainer</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.sungardas</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContainer</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CorsFilter</display-name>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
