<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>snapdirector</display-name>
    <context-param>
        <param-name>rest:mock-directory</param-name>
        <param-value>./mockjson/</param-value>
    </context-param>
    <context-param>
        <param-name>tmp:sdfsbackup-properties</param-name>
        <param-value>./aws/sdfsbackup.properties</param-value>
    </context-param>
    <context-param>
        <param-name>aws:sqs-region</param-name>
        <param-value>us-east-1</param-value>
    </context-param>

    <context-param>
        <param-name>aws:dynamodb-region</param-name>
        <param-value>us-east-1</param-value>
    </context-param>

    <context-param>
        <param-name>aws:routine-inst-id</param-name>
        <param-value>ogorVagrantDev</param-value>
    </context-param>
    <context-param>
        <param-name>aws:sqs-queue-url</param-name>
        <param-value>815082807540/sungard_ogor</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <filter>
        <filter-name>filterProxy</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>filterProxy</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

    <!-- For web context -->
    <servlet>
        <servlet-name>snapdirector-dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/init-spring-web-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>snapdirector-dispatcher</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>prod</param-value>
    </context-param>

</web-app>