<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="glyphicon glyphicon-cloud"></span>&nbsp; AWS Settings</h2>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="goAhead()">
                        <div class="form-group">
                            <label>Access Key ID:</label>
                            <input type="text" name="access-key" class="form-control input-sm" ng-model="accessKey" placeholder="AWS Access Key" required>
                        </div>

                        <div class="form-group">
                            <label>Secret Access Key:</label>
                            <input type="password" name="secret-key" class="form-control input-sm" ng-model="secretKey" placeholder="AWS Secret Key" required>
                        </div>

                        <div class="form-group">
                            <label>S3 Bucket Size:</label>
                            <div class="input-group input-group-sm">
                                <input type="number" min="0" step="1" name="secret-key" class="form-control" ng-model="amount" required>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >{{unit}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-repeat="u in units"><a href ng-click="changeUnit(u)">{{u}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>S3 Bucket Name:</label>
                            <input type="text" name="name" class="form-control input-sm" ng-model="bucketName" placeholder="S3 Bucket Name" required>
                        </div>

                        <button type="submit"  class="btn btn-info btn-block">Confirm</button>
                    </form>
                </div>
            </div>
            <div class="text-center">
                <a class="link-white" href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html" target="_blank">
                    How to get Access Key ID and Secret Access Key?
                </a>
            </div>
            <div class="text-center">
                <a class="link-white" href="http://aws.amazon.com/s3/" target="_blank">
                    What is Amazon S3?
                </a>
            </div>
        </div>
    </div>
</div>