<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12" ng-class="{'col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3': isAWS, 'col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2': !isAWS}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="glyphicon glyphicon-cog"></span>&nbsp; Settings</h2>
                </div>
                <div class="panel-body">

                    <form ng-show="isAWS" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">AWS Public Key:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="awsPublicKey" required autofocus>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">AWS Secret Key:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="awsSecretKey" required>
                            </div>
                        </div>

                        <div class="form-group text-danger" ng-show="error">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp; {{error}}
                        </div>

                        <div class="form-group col-sm-10">
                        <div class="pull-right">
                            <button type="button" class="btn btn-success" ng-click="sendAWS()">OK</button>
                            <a ui-sref="login" href class="btn btn-default">Cancel</a>
                        </div>
                        </div>
                    </form>

                    <div class="form-horizontal" ng-hide="isAWS">


                        <div class="flex-container card">
                            <div class="flex-2 flex-center">
                                <span class="icon glyphicon glyphicon-{{iconClass[selectedBucket.isCreated]}} text-{{statusColorClass[selectedBucket.isCreated]}}"></span>
                            </div>

                            <div class="flex-5 card-content">
                                <h3>S3 Bucket</h3>

                                <p>{{ selectedBucket.isCreated ? STRINGS.s3.existing : STRINGS.s3.new}}</p>
                                <p><span class="label label-success">{{settings.s3.bucketName}}</span></p>
                                <div class="btn-group" dropdown keyboard-nav>
                                    <button id="simple-btn-keyboard-nav" type="button"
                                            class="btn btn-default dropdown-toggle" dropdown-toggle>
                                        <div>
                                            {{selectedBucket.bucketName}} &nbsp;<span class="caret"></span>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu" role="menu"
                                        aria-labelledby="simple-btn-keyboard-nav">
                                        <li role="menuitem" ng-repeat="bucket in settings.s3">
                                            <a href ng-click="selectBucket(bucket)">{{bucket.bucketName}}
                                                <span class="pull-right label label-success" ng-hide="bucket.isCreated">new</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="flex-1 flex-center">
                                <a class="link-white" href="http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html" target="_blank" title="What is S3 Bucket"><span class="glyphicon glyphicon-question-sign text-primary"></span></a>
                            </div>

                        </div>

                        <div class="flex-container card">
                            <div class="flex-2 flex-center">
                                <span class="icon glyphicon glyphicon-{{iconClass[settings.sdfs.isCreated]}} text-{{statusColorClass[settings.sdfs.isCreated]}}"></span>
                            </div>

                            <div class="flex-5 card-content">
                                <h3>SDFS Settings</h3>

                                <p>{{ settings.sdfs.isCreated ? STRINGS.sdfs.name.existing : STRINGS.sdfs.name.new}}</p>
                                <p><span class="label label-success">{{settings.sdfs.volumeName}} ({{settings.sdfs.volumeSize}})</span></p>
                                <p>{{ STRINGS.sdfs.point }}</p>
                                <p><span class="label label-success">{{settings.sdfs.mountPoint}}</span></p>

                            </div>

                            <div class="flex-1 flex-center">
                                <a class="link-white" href="http://aws.amazon.com/s3" target="_blank" title="What is S3"><span class="glyphicon glyphicon-question-sign text-primary"></span></a>
                            </div>

                           </div>


                        <div class="flex-container card">
                            <div class="flex-2 flex-center">
                                <span class="icon glyphicon glyphicon-{{iconClass[settings.queue.isCreated]}} text-{{statusColorClass[settings.queue.isCreated]}}"></span>
                            </div>

                            <div class="flex-5 card-content">
                                <h3>Queue</h3>

                                <p>{{ settings.queue.isCreated ? STRINGS.queue.existing : STRINGS.queue.new}}</p>
                                <p><span class="label label-success">{{settings.queue.queueName}}</span></p>
                            </div>

                            <div class="flex-1 flex-center">
                                <a class="link-white" href="https://aws.amazon.com/sqs" target="_blank" title="What is Queue"><span class="glyphicon glyphicon-question-sign text-primary"></span></a>
                            </div>

                        </div>

                        <div class="flex-container card">
                            <div class="flex-2 flex-center">
                                <span class="icon glyphicon glyphicon-{{iconClass[settings.db.isValid]}} text-{{statusColorClass[settings.db.isValid]}}"></span>
                            </div>

                            <div class="flex-5 card-content">
                                <h3>DynamoDB</h3>

                                <p>{{ settings.db.isValid ? STRINGS.db.isValid.true : STRINGS.db.isValid.false}}</p>
                                <strong><p ng-show="!settings.db.hasAdminUser">  <span class="glyphicon glyphicon-warning-sign"></span> {{STRINGS.db.hasAdminUser.false}}</p></strong>

                            </div>

                            <div class="flex-1 flex-center">
                                <a class="link-white" href="https://aws.amazon.com/dynamodb" target="_blank" title="What is DynamoDB"><span class="glyphicon glyphicon-question-sign text-primary"></span></a>
                            </div>

                        </div>

                        <div class="pull-right">
                            <button type="button" class="btn btn-success" ng-click="sendSettings()">Setup</button>
                            <a ui-sref="login" href class="btn btn-default">Cancel</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>