<div class="clearfix">
    <a ui-sref="app.volume.list" class="btn btn-link pull-right"><span class="glyphicon glyphicon-chevron-left"> </span>Back to volumes</a>
</div>

<h2 class="pull-right">
    <small><span class="glyphicon glyphicon-hdd"></span>&nbsp; {{volumeID}}</small>
</h2>
<h2><span class="glyphicon glyphicon-list"></span>&nbsp; Backup History </h2>

<div class="row">
    <table class="table table-condensed bg-white" st-table="displayedBackups" st-safe-src="backups">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th st-sort="timeCreated" st-sort-default="reverse">Created</th>
            <th st-sort="fileName">File Name</th>
            <th st-sort="message">Message</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="backup in displayedBackups">
            <td class="text-center commands">
                <a class="btn btn-link" title="Restore" ng-click="restore(backup)"><span
                        class="glyphicon glyphicon-cloud-upload"></span></a>
                <a class="text-danger" title="Remove" ng-click="remove(backup.fileName)"><span
                        class="glyphicon glyphicon-remove" ng-hide="isRunning(backup)"></span></a>
                <span class="glyphicon glyphicon-refresh spin" ng-show="isRunning(backup)"></span>
            </td>
            <td>{{backup.timeCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{backup.fileName}}</td>
            <td>{{backup.message}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>