<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp; Login</h2>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="login()">

                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control input-sm" ng-model="email" placeholder="email" required>
                        </div>

                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control input-sm" ng-model="password" placeholder="password" required>
                        </div>

                        <div class="form-group text-danger" ng-show="error">
                            <span class="glyphicon glyphicon-alert"></span>&nbsp; {{error}}
                        </div>

                        <button type="submit" class="btn btn-info btn-block" ng-click="clearErr()">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>