<div class="modal-header bg-{{action.bgClass}}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-{{action.iconClass}}"></span>&nbsp; {{action.modalTitle}}</h3>
</div>
<div class="modal-body">
    <p>You are going to {{action.description}} for: </p>
    <blockquote>
        <div ng-show="selectedVolumes.length<=maxVolumeDisplay">
            <div class="h4 text-primary" ng-repeat="volume in selectedVolumes">{{volume.volumeId}}</div>
        </div>
        <p ng-hide="selectedVolumes.length<=maxVolumeDisplay">{{selectedVolumes.length}} selected volumes</p>
        <p ng-show="actionType === 'restore'"><span>Volume's last backup will be used</span></p>
    </blockquote>
    <div ng-show="action.type == 'schedule'">
        <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text" id="name" class="form-control" ng-model="schedule.name">
        </div>


        <!-- cron-->
        <div class="form-group">
            <label>Schedule:</label>
            <jq-cron class="form-control" ng-model="schedule.cron"></jq-cron>
            Cron: <code>"{{schedule.cron}}"</code>
        </div>
        <!-- cron end-->

        <!-- enabled-->
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="schedule.enabled"/> Enabled
                </label>
            </div>
        </div>
        <!-- enabled end-->
    </div>
    <p> Do you want to {{action.description}} now?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-{{action.bgClass}}" ng-click="$close()"><span class="glyphicon glyphicon-{{action.iconClass}}"></span>&nbsp; {{action.buttonText}}</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>