<div class="modal-header bg-primary">
    <h3 class="modal-title"><span class="glyphicon glyphicon-filter"></span>&nbsp; Filter Volumes</h3>
</div>

<div class="modal-body">

    <form class="form-horizontal">
        <div class="form-group">
            <label for="volumeId" class="col-sm-2 control-label">ID:</label>

            <div class="col-sm-10">
                <input type="text" id="volumeId" class="form-control"
                       ng-model="filter.volumeId"/>
            </div>
        </div>

        <div class="form-group">
            <label for="volumeName" class="col-sm-2 control-label">Name:</label>

            <div class="col-sm-10">
                <input type="text" id="volumeName" class="form-control"
                       ng-model="filter.name"/>
            </div>
        </div>

        <div class="form-group">
            <label for="sizeSlider" class="col-sm-2 control-label">Size:</label>

            <div class="col-sm-10">
                <input ng-model="filter.size" type="text" id="sizeSlider" slider options="sliderOptions"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Instance:</label>

            <div class="col-sm-10">
                <div class="btn-group full-width" dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button"
                            class="btn btn-default dropdown-toggle full-width" dropdown-toggle>
                        <div class="text-right">
                            {{filter.instanceID || 'None'}} &nbsp;<span class="caret"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"
                        aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem"><a href ng-click="filter.instanceID = ''">None</a></li>
                        <li role="separator" class="divider"></li>
                        <li role="menuitem" ng-repeat="instance in instances">
                            <a href ng-click="filter.instanceID = instance">{{instance}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Region:</label>

            <div class="col-sm-10">
                <div class="btn-group full-width" dropdown>
                    <button class="btn btn-default dropdown-toggle full-width" dropdown-toggle>
                        <div class="text-right">
                                <span ng-show="filter.region.location" class="hidden-xs">
                                {{filter.region.location}} -
                                </span>
                            {{filter.region.name | uppercase}} &nbsp;
                            <span class="caret"></span>
                        </div>
                    </button>
                    <!--<button class="btn btn-default dropdown-toggle" dropdown-toggle>-->
                    <!--</button>-->
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a ng-click="filter.region = globalRegion">
                    <span ng-show="globalRegion.location" class="hidden-xs">
                        {{globalRegion.location}} -
                    </span>
                                {{globalRegion.name}}
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="region in regions">
                            <a ng-click="filter.region = region">
                    <span ng-show="region.location" class="hidden-xs">
                        {{region.location}} -
                    </span>
                                {{region.name | uppercase}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tags:</label>

            <div class="col-sm-10">

                <tag-filter tags="filter.tags" src="tags" keyph="key" valueph="value"></tag-filter>

            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Apply filter</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button class="btn btn-link pull-left" ng-click="clear()">Clear</button>
</div>
