<div class="modal-header bg-primary">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Backup</h3>
</div>
<div class="modal-body">
    <p>Are you sure, you want to start backup process for volume <span class="h4 text-primary">{{backupVolumeId}}</span> now? </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Add Task</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>