<div class="modal-header bg-danger">
    <h3 class="modal-title"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Task</h3>
</div>
<div class="modal-body">
    <p>Are you sure, you want <span class="h4">{{taskToReject.type}}</span> task for volume <span class="h4 text-primary">{{taskToReject.volume}}</span> to be rejected? </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span>&nbsp; Reject
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
