<div class="modal-header" ng-class="{'bg-success': scheduleToEdit.isNew, 'bg-primary': !scheduleToEdit.isNew}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-time" aria-hidden="true"> </span> {{scheduleToEdit.isNew? "New Schedule" : "Edit Schedule" }}</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label for="name" class="control-label">Name:</label>
        <input type="text" id="name" class="form-control" ng-model="scheduleToEdit.name">
    </div>


    <!-- cron-->
    <div class="form-group">
        <label>Schedule:</label>
        <jq-cron class="form-control" ng-model="scheduleToEdit.cron"></jq-cron>
        Cron: <code>"{{scheduleToEdit.cron}}"</code>
    </div>
    <!-- cron end-->

    <!-- enabled-->
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="scheduleToEdit.enabled"/> Enabled
            </label>
        </div>
    </div>
    <!-- enabled end-->


    <div class="modal-footer">
        <button class="btn" ng-click="$close()" ng-class="{'btn-success': scheduleToEdit.isNew, 'btn-primary': !scheduleToEdit.isNew}">
            {{scheduleToEdit.isNew ? "Add Schedule" : "Save Schedule" }}
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div>