<div class="modal-header bg-success">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Restore</h3>
</div>
<div class="modal-body">
    <p>Restore task created successfully!</p>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="$close()"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Go to Tasks</a>
    <a class="btn btn-default" ng-click="$dismiss()"><span class="glyphicon glyphicon-list"></span>&nbsp; Stay on History</a>
</div>