<div class="modal-header" ng-class="{'bg-success': userToEdit.isNew, 'bg-primary': !userToEdit.isNew}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"> </span> {{ userToEdit.isNew ? "New" : "Edit" }} User</h3>
</div>

    <div class="modal-body">

    <form name="addUser" autocomplete="off">

        <div class="form-group">
            <label for="email" class="control-label">Email:<span class="text-danger">*</span></label>
            <input type="email" id="email" name="modalUserEmail" class="form-control" ng-model="userToEdit.email"
                   ng-disabled="!userToEdit.isNew"
                   ng-required="userToEdit.isNew">
        </div>

        <div class="form-group">
            <label for="firstname" class="control-label">First name:</label>
            <input type="text" id="firstname" class="form-control" ng-model="userToEdit.firstName">
        </div>

        <div class="form-group">
            <label for="modalUserLastName" class="control-label">Last name:</label>
            <input type="text" id="modalUserLastName" autocomplete="off" class="form-control" ng-model="userToEdit.lastName">
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Set password:<span class="text-danger" ng-show="userToEdit.isNew">*</span></label>
            <input type="password" id="password" name="setPassword" class="form-control"
                   ng-model="userToEdit.password"
                   ng-required="userToEdit.isNew">
        </div>


        <div class="form-group" ng-show="isAdmin">
            <button type="button" class="btn" ng-class="{'btn-primary': userToEdit.admin, 'btn-default': !userToEdit.admin}" ng-model="userToEdit.admin"
                    ng-click="userToEdit.admin = !userToEdit.admin">
                <span class="glyphicon glyphicon-{{userToEdit.admin ? 'check': 'unchecked'}}"></span> Admin
            </button>
        </div>

    </form>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-class="{'btn-success': userToEdit.isNew, 'btn-primary': !userToEdit.isNew}"
                ng-click="$close()"
                ng-disabled="addUser.$invalid">
               {{userToEdit.isNew? "Add User" : "Save Changes" }}
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>

