<div class="clearfix">
    <a ui-sref="app.volume.list" class="btn btn-link pull-right"><span class="glyphicon glyphicon-chevron-left"> </span>Back to volumes</a>
</div>

<h2 class="pull-right"><small><span class="glyphicon glyphicon-hdd"></span>&nbsp; {{volumeId}}</small></h2>
<h2><span class="glyphicon glyphicon-time"></span>&nbsp; Schedule </h2>

<div class="row">
    <table class="table table-condensed bg-white">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Cron</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="schedule in schedules track by $index" ng-class="{'row-disabled': !scedule.enabled}">
            <td class="text-center commands">
                <button class="btn btn-link" title="Edit" ng-click="edit(schedule)"><span
                        class="glyphicon glyphicon-pencil"></span></button>
                <a class="text-danger" title="Remove" ng-click="remove(schedule)"><span
                        class="glyphicon glyphicon-remove"></span></a>
            </td>
            <td>{{schedule.schedulerName}}</td>
            <td>{{schedule.cron}}</td>
            <td>{{schedule.enabled ? 'enabled' : 'disabled'}}</td>
        </tr>
        </tbody>
    </table>
</div>
<button class="btn btn-success pull-right" ng-click="add()"><span class="glyphicon glyphicon-plus-sign"></span> New Schedule</button>