<div class="header-page">
    <div class="container">
        <div class="sub-nav pull-right">
            <div class="user">
                <a ui-sref="login" title="logout">{{getUserName()}}&nbsp;<span
                        class="glyphicon glyphicon-off text-danger"></span></a>
            </div>
            <div class="page-btns">

            </div>
        </div>
        <div class="page-name">
            <div class="go-back">&nbsp;</div>
            <div class="current">System&nbsp;Settings</div>
        </div>
    </div>
</div>
<div class="table-header-placeholder"></div>


<div class="container app">

    <div class="card">
        <div class="flex-container">
            <div class="flex-5 card-content flex-center">
                <h3>Your system was stored <strong>{{ settings.lastBackup ? "last time at " + (settings.lastBackup |
                    date: 'yyyy-MM-dd HH:mm:ss') : "never before"}}</strong></h3>
            </div>

            <div class="flex-1 flex-center">
                <a class="btn btn-success" title="Backup system" ng-click="backup()">Backup now</a>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="flex-container">
            <div class="flex-5 card-content flex-center">
                <div class="full-width">
                    <h3>EC2 Instance</h3>
                    <div class="col-sm-5 text-right">Instance ID:</div>
                    <div class="col-sm-7 text-left">{{settings.ec2Instance.instanceID || 'unknown'}}</div>
                </div>
                <hr/>
                <div class="full-width">
                    <h3>S3</h3>
                    <div class="col-sm-5 text-right">Bucket:</div>
                    <div class="col-sm-7 text-left">{{settings.s3.bucketName || 'unknown'}}</div>
                </div>
                <hr/>
                <div class="full-width">
                    <h3>SDFS</h3>
                    <div class="col-sm-5 text-right">Volume Name:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.volumeName || 'unknown'}}</div>
                    <div class="col-sm-5 text-right">Volume Size:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.volumeSize || 'unknown'}}</div>
                    <div class="col-sm-5 text-right">Mount Point:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.mountPoint || 'unknown'}}</div>
                </div>
                <hr/>
                <form name="volumeTypes" class="full-width">
                    <h3>Volume Type</h3>
                    <div class="form-group row">
                        <div class="settings type-label col-sm-5 text-right">Temporary Volume Type:</div>
                        <div class="col-sm-7 text-left">
                            <select ng-options="option for option in settings.systemProperties.volumeTypeOptions"
                                    ng-model="settings.systemProperties.tempVolumeType"
                                    class="btn btn-default">
                            </select>

                            <span ng-show="settings.systemProperties.tempVolumeType === 'io1'">
                                &nbsp;iops per Gb
                                <input type="number"
                                       name="tVolumeSize"
                                       ng-model="settings.systemProperties.tempVolumeIopsPerGb"
                                       class="settings form-control"
                                       min="1"
                                       max="30"
                                       required>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="settings type-label col-sm-5 text-right">Restore Volume Type:</div>
                        <div class="col-sm-7 text-left">
                            <select ng-options="option for option in settings.systemProperties.volumeTypeOptions"
                                    ng-model="settings.systemProperties.restoreVolumeType"
                                    class="btn btn-default">
                            </select>

                            <span ng-show="settings.systemProperties.restoreVolumeType === 'io1'">
                                &nbsp;iops per Gb
                            <input type="number"
                                   name="rVolumeSize"
                                   class="settings form-control"
                                   ng-model="settings.systemProperties.restoreVolumeIopsPerGb"
                                   min="1"
                                   max="30"
                                   required>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-offset-5 col-sm-7 text-left">
                        <div>
                            <small class="text-danger"
                                   ng-show="volumeTypes.rVolumeSize.$error.required || volumeTypes.tVolumeSize.$error.required">
                                Volume size for io1 volume type cannot be empty
                            </small>
                        </div>

                        <div>
                            <small class="text-danger"
                                   ng-show="volumeTypes.rVolumeSize.$error.min || volumeTypes.tVolumeSize.$error.min ||
                                      volumeTypes.tVolumeSize.$error.max || volumeTypes.rVolumeSize.$error.max">
                                Volume size for io1 volume type must be in between 1 and 30
                            </small>
                        </div>
                    </div>


                    <div class="col-sm-offset-5 col-sm-7 text-left">
                        <button ng-show="settings.systemProperties.restoreVolumeType !== initialRestoreVolumeType || settings.systemProperties.tempVolumeType !== initialTempVolumeType"
                                class="settings btn btn-info" title="Change type"
                                ng-click="changeType()"
                                ng-disabled="!settings.systemProperties.tempVolumeIopsPerGb || !settings.systemProperties.restoreVolumeIopsPerGb">
                            Change Volume Type{{settings.systemProperties.restoreVolumeType !==
                            initialRestoreVolumeType && settings.systemProperties.tempVolumeType !==
                            initialTempVolumeType ?
                            "s" : ""}}
                        </button>
                    </div>
                </form>
            </div>

            <div class="flex-1 flex-center">
                <a class="btn btn-danger" title="Uninstall system" ng-disabled="!isAdmin"
                   ng-click="uninstall()">Uninstall</a>
            </div>

        </div>
    </div>

</div>
