<div class="header-page">
    <div class="container">
        <div class="sub-nav pull-right">
            <div class="user">
                <a ui-sref="logout" title="logout">{{getUserName()}}&nbsp;<span class="glyphicon glyphicon-off text-danger"></span></a>
            </div>
            <div class="page-btns">

            </div>
        </div>
        <div class="page-name">
            <div class="go-back">&nbsp;</div>
            <div class="current">System&nbsp;Settings</div>
        </div>
    </div>
</div>
<div class="table-header-placeholder"></div>


<div class="container app">

    <div class="card">
        <div class="flex-container">
            <div class="flex-5 card-content flex-center">
                <h3>Your system was stored <strong>{{ settings.lastBackupTime ? "last time at " + (lsettings.astBackupTime | date: 'yyyy-MM-dd HH:mm:ss') : "never before"}}</strong></h3>
            </div>

            <div class="flex-1 flex-center">
                <a class="btn btn-success" title="Backup system" ng-click="backup()">Backup now</a>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="flex-container">
            <div class="flex-5 card-content flex-center">
                <div class="full-width">
                    <h3>EC2 Instance</h3>
                    <div class="col-sm-5 text-right">Instance ID:</div>
                    <div class="col-sm-7 text-left">{{settings.ec2Instance.instanceID || 'unknown'}}</div>
                </div>
                <hr/>
                <div class="full-width">
                    <h3>S3</h3>
                    <div class="col-sm-5 text-right">Bucket:</div>
                    <div class="col-sm-7 text-left">{{settings.s3.bucketName || 'unknown'}}</div>
                </div>
                <hr/>
                <div class="full-width">
                    <h3>SDFS</h3>
                    <div class="col-sm-5 text-right">Volume Name:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.volumeName || 'unknown'}}</div>
                    <div class="col-sm-5 text-right">Volume Size:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.volumeSize || 'unknown'}}</div>
                    <div class="col-sm-5 text-right">Mount Point:</div>
                    <div class="col-sm-7 text-left">{{settings.sdfs.mountPoint || 'unknown'}}</div>
                </div>
                <hr/>
                <div class="full-width">
                    <h3>Queue</h3>
                    <div class="col-sm-5 text-right">Name:</div>
                    <div class="col-sm-7 text-left">{{settings.queue.queueName || 'unknown'}}</div>
                </div>
            </div>

            <div class="flex-1 flex-center">
                <a class="btn btn-danger" title="Uninstall system" ng-disabled="!isAdmin" ng-click="uninstall()">Uninstall</a>
            </div>

        </div>
    </div>

</div>
