<div>
    <button class="btn btn-link pull-right" ng-click="refreshUsers()"><span class="glyphicon glyphicon-refresh"></span></button>
    <h2><span class="glyphicon glyphicon-user"></span>&nbsp; Users</h2>
</div>

<div class="row">
    <table st-table="displayedUsers"  st-safe-src="users"
           class="table table-condensed bg-white">
        <thead>
        <tr>
            <th> &nbsp; </th>
            <th st-sort="firstName">First Name</th>
            <th st-sort="lastName">Last Name</th>
            <th st-sort="email">Email</th>
            <th st-sort="admin">Role</th>
        </tr>

        </thead>

        <tbody>
        <tr ng-repeat="user in displayedUsers">
            <td class="text-center commands">
                <button class="btn btn-link" title="Edit user" ng-click="editUser(user)" ng-show="isAdmin || isCurrentUser(user.email)"><span
                        class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-link" title="Delete user" ng-click="deleteUser(user)" ng-show="isAdmin"><span
                        class="glyphicon glyphicon-remove text-danger"></span></button>
            </td>

            <td>{{::user.firstName}}</td>
            <td>{{::user.lastName}}</td>
            <td>{{::user.email | lowercase}}</td>
            <td>{{::user.admin? 'Admin' : 'User'}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-show="isLoading">
            <td colspan="5" class="text-center spinner-container">
                <i class="glyphicon glyphicon-refresh text-muted spin"></i>
            </td>
        </tr>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div class="col-xs-12" ng-show="isAdmin">
        <button type="button" class="btn btn-success pull-right" ng-click="addUser()">
            <span class="glyphicon glyphicon-plus-sign" title="Add new user"></span> Add User
        </button>
    </div>
</div>