<div class="clearfix">
    <div class="pull-right">
        <button class="btn btn-link" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
        <button class="btn btn-link" ng-click="isFilterCollapsed = !isFilterCollapsed"><span class="glyphicon glyphicon-filter"></span></button>
    </div>
</div>


<div class="form-inline">
    <h2><span class="glyphicon glyphicon-hdd"></span>&nbsp; EBS Volumes</h2>
</div>

<div>
    <div collapse="isFilterCollapsed">
        <div class="well">

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="volumeId" class="col-sm-2 control-label">ID:</label>

                    <div class="col-sm-10">
                        <input type="text" id="volumeId" class="form-control"
                               ng-model="filter.volumeId"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="volumeName" class="col-sm-2 control-label">Name:</label>

                    <div class="col-sm-10">
                        <input type="text" id="volumeName" class="form-control"
                               ng-model="filter.name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="sizeSlider" class="col-sm-2 control-label">Size:</label>

                    <div class="col-sm-10">
                        <input ng-model="filter.size" type="text" id="sizeSlider" slider options="sliderOptions"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Instance:</label>

                    <div class="col-sm-10">
                        <div class="btn-group full-width" dropdown keyboard-nav>
                            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default dropdown-toggle full-width" dropdown-toggle>
                                <div class="text-right">
                                    {{filter.instanceID || 'None'}} <span class="caret"></span>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                <li role="menuitem"><a href ng-click="filter.instanceID = ''">None</a></li>
                                <li role="separator" class="divider"></li>
                                <li role="menuitem" ng-repeat="instance in instances"><a href ng-click="filter.instanceID = instance">{{instance}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Region:</label>

                    <div class="col-sm-10">
                        <div class="btn-group full-width" dropdown>
                            <button class="btn btn-default dropdown-toggle full-width" dropdown-toggle>
                                <div class="text-right">
                                <span ng-show="filter.region.location" class="hidden-xs">
                                {{filter.region.location}} -
                                </span>
                                    {{filter.region.name | uppercase}} &nbsp;
                                    <span class="caret"></span>
                                </div>
                            </button>
                            <!--<button class="btn btn-default dropdown-toggle" dropdown-toggle>-->
                            <!--</button>-->
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ng-click="filter.region = globalRegion">
                    <span ng-show="globalRegion.location" class="hidden-xs">
                        {{globalRegion.location}} -
                    </span>
                                        {{globalRegion.name}}
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li ng-repeat="region in regions">
                                    <a ng-click="filter.region = region">
                    <span ng-show="region.location" class="hidden-xs">
                        {{region.location}} -
                    </span>
                                        {{region.name | uppercase}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tags:</label>

                    <div class="col-sm-10">

                        <tag-filter tags="filter.tags" src="tags" keyph="key" valueph="value"></tag-filter>

                    </div>
                </div>
            </form>

            <div class="form-group text-right">
                <button class="btn btn-default" ng-click="applyFilter()">Apply filter</button>
            </div>

        </div>
    </div>

    <div class="row">

        <table st-table="displayedCollection" st-safe-src="volumes "
               class="table table-condensed bg-white">
            <thead>
            <tr>
                <th> &nbsp;

                </th>
                <th st-sort="state">Status</th>
                <th st-sort="volumeId">ID</th>
                <th st-sort="volumeName">Name</th>
                <th st-sort="size">Size</th>
                <th st-sort="snapshotId">Snapshot</th>
                <th st-sort="tags">Tags</th>
                <th st-sort="instanceID">Instance</th>
                <th st-sort="createTime">Created</th>
                <th st-sort="availabilityZone">Zone</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="volume in displayedCollection | stAdvancedFilter: stAdvancedFilter track by $index">
                <td class="text-center commands">
                    <button class="btn btn-link" title="Restore now" ng-click="restore(volume.volumeId)"><span
                            class="glyphicon glyphicon-cloud-upload text-success"></span></button>
                    <button class="btn btn-link" title="Backup now" ng-click="backup(volume.volumeId)"><span
                            class="glyphicon glyphicon-cloud-download"></span></button>
                    <a ui-sref="app.volume.schedule({ volumeId: volume.volumeId })" class="btn btn-link disabled"
                       title="Schedule backup"><span
                            class="glyphicon glyphicon-time"></span></a>
                    <a ui-sref="app.volume.history({ volumeId: volume.volumeId })" class="btn btn-link"
                       title="History"><span
                            class="glyphicon glyphicon-list"></span></a>
                </td>
                <td>
                    <i class="glyphicon glyphicon-record text-{{statusColorClass[volume.state]}}"></i>
                    {{::volume.state}}
                </td>
                <td>{{::volume.volumeId}}</td>
                <td>{{::volume.volumeName}}</td>
                <td>{{::volume.size}} GB</td>
                <td>{{::volume.snapshotId}}</td>
                <td>
                    <div class="tags">
                        <div ng-repeat="tag in volume.tags track by $index" class="tag label label-primary">
                            <div class="tag-value">{{tag.key}} : {{tag.value}}</div>
                        </div>
                    </div>
                </td>
                <td>{{::volume.instanceID}}</td>
                <td>{{::volume.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{::volume.availabilityZone}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr ng-show="isLoading">
                <td colspan="10" class="text-center spinner-container">
                    <i class="glyphicon glyphicon-refresh text-muted spin"></i>
                </td>
            </tr>
            <tr>
                <td colspan="10" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>